altgraph==0.17.2
arrow==1.2.1
attrs==21.2.0
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.7
colored==1.4.3
cryptography==35.0.0
-e git://github.com/FCGI/flanker/@96d774eb6d67b1c5fafe711394c3756df7bb14ad#egg=flanker
Gooey==1.0.8.1
idna==3.3
macholib==1.15.2
numpy==1.21.4
Pillow==9.0.1
ply==3.11
psutil==5.8.0
pycparser==2.20
pygtrie==2.4.2
pyinstaller==4.10
pyinstaller-hooks-contrib==2021.3
python-dateutil==2.8.2
regex==2021.11.2
requests==2.26.0
six==1.16.0
tld==0.12.6
urllib3==1.26.7
WebOb==1.8.7
wxPython==4.1.1
