altgraph==0.17.2
arrow==1.2.1
attrs==21.2.0
cffi==1.15.0
chardet==4.0.0
colored==1.4.3
cryptography==35.0.0
flanker==0.9.11
Gooey==1.0.8.1
idna==3.3
macholib==1.15.2
numpy==1.21.4
Pillow==8.4.0
ply==3.11
psutil==5.8.0
pycparser==2.20
pygtrie==2.4.2
pyinstaller==4.6
pyinstaller-hooks-contrib==2021.3
python-dateutil==2.8.2
regex==2021.11.2
six==1.16.0
tld==0.12.6
WebOb==1.8.7
wxPython==4.1.1
